/*=============================
Extra Large Screen - Others
===============================*/
@media screen and (min-width: 1200px) and (max-width: 1399px) {
	.usefull-links {
		padding-left: 40px;
	}
	.contacts {
		padding-left: 25px;
	}

	.hero-area {
		padding: 104px 0;
	}
	.hero-content h1 {
		font-size: 65px;
	}
	.hero-content p {
		max-width: 620px;
	}
}

/*========================
Large Screen - Leptop
==========================*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.footer-wrpper .row {
		row-gap: 50px;
	}
	.usefull-links {
		padding-left: 50px;
	}
	.contacts {
		padding-left: 20px;
	}
	.footer-links > h2 {
		margin-bottom: 20px;
	}

	.hero-area {
		padding: 104px 0;
	}
	.hero-content h1 {
		font-size: 65px;
	}
	.hero-content p {
		max-width: 620px;
	}

	.our-advantages-wrpper .row {
		row-gap: 30px;
	}

	.our-services-area {
		padding-top: 60px;
		padding-bottom: 100px;
	}

	.about-desc {
		padding-right: 0;
	}
	.about-us-area {
		padding-top: 40px;
		padding-bottom: 80px;
		margin-bottom: 80px;
	}

	/* iPhones Products Page */
	.all-iPhones-area {
		padding-bottom: 100px;
	}
	.browse-store-wrpper .row {
		row-gap: 30px;
	}

	.profile-menu ul {
		padding-right: 60px;
	}
	.input-form form {
		padding: 40px 80px 210px 70px;
	}

	.terms-conditions-wrpper {
		padding: 50px;
	}

	.products-row {
		row-gap: 30px;
	}
}

/*=========================
Medium Screen - Tablate
=========================*/
@media screen and (min-width: 768px) and (max-width: 991px) {
	.top-header-area .row {
		row-gap: 15px;
	}
	.top-header-social-icons ul,
	.top-header-contact-info ul {
		justify-content: center !important;
	}
	.header-area .row {
		row-gap: 20px;
	}

	.header-area {
		padding: 20px 0;
	}

	.footer-wrpper .row {
		row-gap: 50px;
	}
	.usefull-links {
		padding-left: 0px;
		border: none;
	}
	.contacts {
		padding-left: 0px;
	}
	.footer-links > h2 {
		margin-bottom: 20px;
	}
	.follow-us ul {
		flex-wrap: wrap;
		justify-content: start !important;
	}

	.hero-area {
		padding: 65px 0;
	}
	.hero-content h1 {
		font-size: 50px;
	}
	.hero-content p {
		max-width: 410px;
	}
	.dots {
		bottom: 15px;
	}
	.dots ul li {
		width: 10px;
		height: 10px;
	}

	.featured-products-area {
		padding: 35px 0;
	}
	.featured-products-wrpper .row {
		row-gap: 30px;
	}

	.our-advantages-wrpper {
		padding: 60px 0;
		padding-top: 50px;
	}
	.our-advantages-wrpper .row {
		margin-top: 30px;
		row-gap: 30px;
	}

	.our-services-area {
		padding-top: 50px;
		padding-bottom: 70px;
	}
	.our-services-wrpper .row {
		row-gap: 60px;
	}
	.service-icon {
		top: -35%;
	}

	.about-us-wrpper .row {
		flex-direction: column-reverse;
		row-gap: 30px;
	}
	.about-logo img {
		width: 50%;
	}
	.about-us-area {
		padding-top: 40px;
		padding-bottom: 60px;
		margin-bottom: 60px;
	}

	/* iPhones Products Page */
	.all-iPhones-area,
	.browse-store-area {
		padding-bottom: 100px;
	}
	.all-iPhones-wrpper .row,
	.browse-store-wrpper .row {
		row-gap: 30px;
	}

	.profile-menu ul {
		padding-right: 60px;
		flex-direction: row;
		gap: 45px;
		margin-bottom: 30px;
	}
	.input-form form {
		padding: 40px 80px 210px 70px;
	}

	.terms-conditions-wrpper {
		padding: 50px;
	}

	.products-row {
		row-gap: 30px;
	}
}

/*===============================
Xtra Small Screen - Small Mobile
=================================*/
@media screen and (max-width: 767px) {
	.top-header-area .row {
		row-gap: 15px;
	}
	.top-header-social-icons ul,
	.top-header-contact-info ul {
		justify-content: center !important;
	}
	.header-area .row {
		row-gap: 20px;
	}
	.top-header-contact-info ul {
		flex-wrap: wrap;
		row-gap: 10px;
	}

	.header-area {
		padding: 15px 0;
	}
	.main-logo a img {
		width: 130px;
	}
	.hamburger .line {
		width: 38px;
		height: 4px;
		margin: 6px auto;
	}

	.footer-wrpper .row {
		row-gap: 50px;
	}
	.usefull-links {
		padding-left: 0px;
		border: none;
	}
	.contacts {
		padding-left: 0px;
	}
	.footer-links > h2 {
		margin-bottom: 20px;
	}
	.follow-us ul {
		flex-wrap: wrap;
		justify-content: start !important;
	}
	.footer-info p {
		padding-right: 0;
	}

	.hero-area {
		padding: 65px 0;
		background-position: left;
	}
	.hero-content {
		text-align: center;
	}
	.hero-content h1 {
		font-size: 45px;
	}
	.hero-content p {
		max-width: 410px;
		margin: 20px auto;
	}
	.dots {
		bottom: 15px;
	}
	.dots ul li {
		width: 10px;
		height: 10px;
	}
	.top-header-area {
		display: none;
	}

	.featured-products-area {
		padding: 35px 0;
	}
	.featured-products-wrpper .row {
		row-gap: 20px;
	}

	.our-advantages-wrpper {
		padding: 40px 0;
		padding-top: 40px;
	}
	.our-advantages-wrpper .row {
		margin-top: 20px;
		row-gap: 20px;
	}
	.section-title h2 {
		font-size: 33px;
	}
	.section-title p {
		margin-top: 5px;
	}

	.our-services-area {
		padding-top: 30px;
		padding-bottom: 50px;
	}
	.our-services-wrpper .row {
		row-gap: 60px;
		margin-top: 60px;
	}
	.service-icon {
		top: -35%;
	}

	.about-us-wrpper .row {
		flex-direction: column-reverse;
		row-gap: 30px;
	}
	.about-logo img {
		width: 85%;
	}
	.about-us-area {
		padding-top: 40px;
		padding-bottom: 60px;
		margin-bottom: 0;
	}

	/* iPhones Products Page */
	.bids-banner-wrpper {
		gap: 15px;
	}
	.all-iPhones-area,
	.browse-store-area {
		padding-bottom: 45px;
	}
	.all-iPhones-wrpper .row,
	.browse-store-wrpper .row {
		row-gap: 20px;
	}
	.biders-info h2 {
		font-size: 21px;
	}
	.biders-info p {
		font-size: 17px;
	}
	.hamar-icon img {
		width: 80px;
	}
	.bread-come-ara {
		padding: 40px 0;
	}

	.profile-menu ul {
		padding-right: 60px;
		flex-direction: row;
		gap: 30px;
		margin-bottom: 30px;
		flex-wrap: wrap;
	}
	.input-form form {
		padding: 20px 20px 120px 22px;
	}
	.input-row {
		gap: 5px;
		flex-direction: column;
		align-items: flex-start;
	}
	.input-row input {
		width: 100%;
	}
	.profile-update-form {
		padding-bottom: 60px;
	}

	.terms-conditions-wrpper {
		border-radius: 10px;
		padding: 20px;
		text-align: justify;
	}

	.cart-products-desc {
		border-top: none;
		border-bottom: none;
		flex-direction: column;
		gap: 10px;
	}
	.order-confirm-box ul li span {
		font-size: 15px;
	}
	.order-confirm-box ul li {
		padding: 6px 0;
	}
	.order-confirm-box p {
		padding-bottom: 20px;
	}
	.order-confirm-box button {
		font-size: 19px;
	}
	.products-row {
		padding-bottom: 70px;
	}
	.cart-products-desc img {
		max-width: 200px;
		display: block;
		margin: auto;
	}
	.cart-products-desc h3 {
		font-size: 22px;
		text-align: center;
	}
}
