/*=====================
FONTS LINK HERE
======================*/
@import url("https://fonts.cdnfonts.com/css/kelson-sans-bg");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*======================
DEFAULT CSS HERE
========================*/
:root {
	--Montserrat: "Montserrat", sans-serif;
}
body {
	font-family: "Kelson Sans", sans-serif;
	font-size: 16px;
	font-weight: 400;
	background: #fff;
	color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

a,
a:hover {
	text-decoration: none;
	display: inline-block;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

::selection {
	color: white;
	background: #ff7675;
}

::-webkit-selection {
	color: white;
	background: #ff7675;
}

::-moz-selection {
	color: white;
	background: #ff7675;
}

.scrolltotop {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	background: #008b8b;
	text-align: center;
	font-size: 22px;
	color: #ffffff;
	position: fixed;
	right: 30px;
	bottom: 25px;
	display: none;
	animation: lab_top_up 5s linear infinite;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	z-index: 1;
}

.scrolltotop i {
	color: #ffff;
}

@keyframes lab_top_up {
	0% {
		transform: translateY(-15px);
	}
	50% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-15px);
	}
}

.pluse,
.pluse2 {
	position: relative;
	top: 13px;
	left: -8px;
	z-index: -1;
}

.pluse::before,
.pluse2::before {
	width: 40px;
	height: 40px;
}

.pluse::after,
.pluse::before,
.pluse2::after,
.pluse2::before {
	background: #008b8b;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	display: block;
	content: "";
	position: absolute;
	top: 2px;
	left: 0;
}

.pluse::after,
.pluse2::after {
	width: 30px;
	height: 30px;
	background: transparent;
	margin-left: -15px;
	margin-top: -15px;
}

.pluse::before {
	-webkit-animation: pluse_animate 2.5s infinite linear;
	animation: pluse_animate 2.5s infinite linear;
}

.pluse2::before {
	-webkit-animation: pluse_animate 3s infinite linear;
	animation: pluse_animate 3s infinite linear;
}

@keyframes pluse_animate {
	0% {
		opacity: 1;
		-webkit-transform: translate(-50%, -50%) scale(0.3);
		transform: translate(-50%, -50%) scale(0.3);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(-50%, -50%) scale(2);
		transform: translate(-50%, -50%) scale(2);
	}
}

.container {
	padding-left: 15px;
	padding-right: 15px;
}

/*======================
HEADER CSS HERE
========================*/
.top-header-area {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #212121;
}

.top-header-social-icons ul {
	display: flex;
	align-items: center;
	gap: 10px;
}

.top-header-social-icons ul li a {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background: #303030;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	color: #bcbec0;
	font-weight: 600;
}

.top-header-social-icons ul li:last-child a {
	font-size: 15px;
}

.top-header-contact-info ul {
	gap: 20px;
}

.top-header-contact-info ul li i {
	color: #8dc63f;
	rotate: 260deg;
}

.top-header-contact-info ul li span {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

.top-header-contact-info ul li button {
	border: none;
	background-color: #a2d84c;
	color: #000000;
	text-transform: uppercase;
	padding: 8px 20px;
}

.header-area {
	padding: 30px 0;
}

.desktop-menu-bar ul {
	column-gap: 30px;
}

.desktop-menu-bar ul li a {
	text-transform: uppercase;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	position: relative;
	letter-spacing: 1px;
}

.desktop-menu-bar ul li a::after {
	content: "";
	display: block;
	clear: both;
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: #ffbd1a;
	visibility: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
}

.desktop-menu-bar ul li a:hover::after {
	visibility: visible;
	opacity: 1;
}

.hamburger .line {
	width: 45px;
	height: 5px;
	background-color: #000;
	display: block;
	margin: 8px auto;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.hamburger:hover {
	cursor: pointer;
}

.hamburger-icon {
	display: flex;
	align-items: center;
	justify-content: end;
}

.btn-close:focus {
	box-shadow: none;
}

#offcanvasRightLabel img {
	width: 150px;
}

.offcanvas-body .desktop-menu-bar ul {
	padding-top: 20px;
	row-gap: 20px;
}

/*======================
FOOTER CSS HERE
========================*/
.footer-area {
	padding: 50px 0;
	background-color: #31236f;
}

.footer-info p {
	color: #fff;
	margin-top: 20px;
	padding-right: 92px;
	font-family: var(--Montserrat);
}

.footer-links > h2 {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	font-family: var(--Montserrat);
	margin-bottom: 40px;
}

.footer-links > ul {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.footer-links > ul li a {
	font-family: var(--Montserrat);
	color: #fff;
	text-decoration: underline;
}

.usefull-links {
	border-left: 2px solid #8dc63f;
	border-right: 2px solid #8dc63f;
	padding-left: 60px;
}

.contacts {
	padding-left: 50px;
}

.footer-contact-info li {
	display: flex;
	align-items: center;
	gap: 10px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

.footer-contact-info li:first-child i,
.footer-contact-info li:nth-child(2) i {
	rotate: 260deg;
}

.follow-us h2 {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	font-family: var(--Montserrat);
	margin-bottom: 20px;
	margin-top: 30px;
}

.follow-us ul li a {
	color: #668e19;
}

/*======================
HERO CSS HERE
========================*/
.hero-area {
	background: url(images/hero-bg-img.png) no-repeat;
	background-size: cover;
	background-position: center;
	padding: 208px 0;
	position: relative;
}

.hero-content h1 {
	color: #fff;
	font-size: 80px;
}

.hero-content p {
	color: #fff;
	font-size: 18px;
	max-width: 700px;
	margin: 20px 0;
}

.hero-content a {
	text-transform: uppercase;
	color: #000;
	background: #ffbd1a;
	padding: 10px 40px;
	display: inline-block;
	font-family: var(--Montserrat);
	font-weight: 600;
	border-radius: 5px;
}

.dots {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}

.dots ul {
	display: flex;
	align-items: center;
	gap: 10px;
}

.dots ul li {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #5b93ce;
	cursor: pointer;
}

.dots ul li:first-child {
	background-color: #ffffff;
}

/*======================
FEATURED PRODUCTS CSS HERE
========================*/
.featured-products-area {
	padding: 50px 0;
}
.single-home-featured-product {
	padding: 10px;
	background: #edeeef;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.image-box img {
	width: 100%;
}

.desc-box {
	padding-top: 20px;
	font-family: var(--Montserrat);
}

.desc-box h2 {
	font-size: 20px;
	margin-bottom: 10px;
}

.desc-box h4 {
	color: #36c900;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
}

.desc-box p {
	font-weight: 500;
	font-family: var(--Montserrat);
	margin-bottom: 10px;
}

.desc-box button {
	background: #ffbd1a;
	padding: 10px 110px;
	border-radius: 8px;
	text-transform: capitalize;
	font-weight: 600;
	font-family: var(--Montserrat);
	border: none;
	border-bottom: 3px solid #ff831d;
}
